<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/new.css">
    <title>Add new song</title>
</head>
<body>
    <form action="/playlist/new" method="post">
        <h1>Add new song</h1>
        <input type="text" name="name" placeholder="Album name">
        <input type="text" name="author" placeholder="Song author">
        <input type="text" name="photo" placeholder="Photo link">
        <input type="text" name="path" placeholder="Audio link">
        <button>Submit</button>
    </form>
</body>
</html>